@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700|Lato:400,700');

h1 {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 34px;
    font-size: 26px;
    letter-spacing: -0.2px;
    
    color: #292929;
}

p {

    font-family: Lato;
    font-style: normal;
    line-height: 26px;
    font-size: 18px;

    color: #292929;
}

i {
    color: #888;
}

.box {
    margin: 50px;
    border: 3px solid #333;
    padding: 20px;
}

.cell {
    /* display: block; */
    position: relative;
    overflow: hidden;
    border: 18px solid #292929;
    /* position: absolute; */
    margin: auto;
    top: 100px;
    /* border: 1px solid red; */
    width: 395px;
    height: 812px;
    border-radius: 38px;
    background: #F9D527;
    transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: -1;
}

.cell:before {
    position: absolute;
    left: calc(50% - 28%);
    top: 0;
    width: 56%;
    background: #292929;
    height: 36px;
    content: "";
    border-radius: 0 0 30px 30px;
}

.wtf {
    /* border: 2px solid #222225; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    /* left: 40px; */
}

.news {
    /* border: 1px solid black; */
    /* transform: translateX(10px); */
    /* transform: translateX(-330px); */
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    min-width: 100%;
    min-height: 100%;
    /* overflow-x: auto; */
    overflow: hidden;
    z-index: 1;
    transition: transform .3s linear;
}

.card {
    /* border: 1px solid red; */
    /* display: inline-block; */
    margin-top: 120px;
    margin-left: 15px;
    position: relative;
    /* position: absolute;
    left: 0;
    right: 0; */
    /* bottom: 50px; */
    /* margin: auto; */
    min-width: 342px;
    min-height: 90%;
    max-height: 656px;
    border-radius: 8px;
    background: #F5F7F3;
    color: #292929;
    box-shadow: 1px 1px 5px rgba(0,0,0,.15);
    /* padding: 10px; */
}

.title, .abstract {
    margin: 10px;
}

.date {
    text-align: right;
    position: relative;
    margin: 50px 16px 14px 16px;
}

.title {
    /* An Ugly Myspace Prof */

    position: relative;
    max-width: 293.14px;
    /* margin-top: 66px;
    margin-bottom: 14px;
    margin-left: 16px; */
    margin: 0 16px 14px 16px;
    /* height: 121.66px; */

}

.abstract {
    /* While it was just a  */

    position: relative;
    max-width: 310px;
    margin: 0 16px 14px 16px;
}

.tags {
    /* Travel */
    margin: 50px 16px 0 16px;
    position: relative;


    font-family: Lato;
    font-style: normal;
    font-size: 12px;

    color: #F5F7F3;

}

.singleTag {
    display: inline-block;
    margin: 0 16px 10px 0;
    background: #888;
    padding: 4px 10px 5px 10px;
    border-radius: 7px;
}

.readMore {
    /* border: 1px solid red; */
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -10px;
}

button {
    /* Button */
    cursor: pointer;
    width: 286px;
    height: 60px;

    box-shadow: 0px 7px 0px #502F85;


    background: #8249DE;
    border-radius: 8px;
    border: none;

    font-family: Josefin Sans;
    font-weight: normal;
    line-height: 20px;
    font-size: 18px;
    text-align: center;

    color: #F5F7F3;
    transition: box-shadow .1s ease-out, bottom .1s ease-out, background 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:active {
    box-shadow: 0px 0px 0px #502F85;
    bottom: -17px;
}

button:focus {
    outline: 0 !important;
}

button::-moz-focus-inner {
    border: 0;
}

